<div clsss="footer mt15">
	<div class="container">
		<div class="footer-bg">
			<p class="links">
				<span>@2012-2013 F2E.im</span>
				<span>Power BY django</span>
				<span>All rights reserved.</span>
			</p>
			{% comment %}
            <p>
                <a href="/about" target="_self">关于我们</a> -
                <a href="/team" target="_self">管理团队</a> -
                <a href="/feedback" target="_self">意见反馈</a> -
                <a href="/plan" target="_self">计划</a>
            </p>
            <p class="fade-color">
                ❤ lovely created by anonymous.
            </p>
            {% endcomment %}
            <p class="fade-color">
            	<span>Bitcoin Donation: 1MqzGbsAufs3gCFEqqTM9WBNnRmVFu7HWH</span>
            </p>
		</div>
	</div>
</div>